<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="C:\Project\NodeJS\IOTmanagement\public\stylesheets\SBU_IOT_1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    <form action="">
  <div class="imgcontainer">
    <!-- <img src="1img_avatar2.png" alt="Wellcome To Stony Brook IOT Admin Page" class="avatar"> -->

      <a href=""><img src="loginpage.png" alt="Wellcome To Stony Brook IOT Admin Page" class="avatar"></a></span>
  </div>

  <div class="container">
    <label id="green"><b>Username</b></label>
    <input type="email" placeholder="Enter Username" name="uname" required>
<!--
        <div class="jumbotron" >
    <strong>Email:</strong>
    <input type="email" class="form-control" name="adminemail" placeholder="Email" required>
    <strong>Password:</strong>
    <input type="password" class="form-control" name="adminpass" placeholder="Password" required>
  </div>   -->

    <label id="green"><b>Password</b></label>
    <input type="password" name="adminpass" placeholder="Enter Password" required >

    <button type="submit" class="loginbutton" id="loginbutton">Login</button>
    <p></p>
    <a href="#">Forgot Password?</a></span>
</form>
   <p></p>
  <div class="container" style="" id="login">
  <p>This is the admin page for IOT Device & User Management.Admin has the right to Add, Modify or Remove Users/Devices</p>
  <p>Admin has the authority to change the access control allowed to any users without prior notice to the end user</p>
  </div>
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous">
</script>
<script src='C:\Project\NodeJS\IOTmanagement\public\javascripts\SBU_IOT_1.js'>
</script>
  </body>
</html>
