<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public\stylesheets\SBU_IOT_1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <title>SBU IOT Log In Page</title>
  </head>
  <body >
<form action="">
  <div class="imgcontainer">
   <a href=""><img src="public\images\loginpage.png" alt="Wellcome To Stony Brook IOT Admin Page" class="avatar"></a></span>
  </div>
</form>
<form class="loginform" action="" method="post" id="loginform">
<div class="imgcontainer" >
    <label id="green"><b>Username</b></label><br>
    <input type="email" placeholder="Enter Username" name="username" id="adminemail" required><br>

    <label id="green"><b>Password</b></label><br>
    <input type="password" name="password" placeholder="Enter Password" required ><br>

    <input type="submit" class="loginbutton" id="loginbutton" name="Add" value="Login">

    <p></p>
    
  </div>
</form>
   <p></p>

  <!-- <div class="jumbotron" id="details">
  <p>This is the admin page for IOT Device & User Management.Admin has the right to Add, Modify or Remove Users/Devices</p>
  <p>Admin has the authority to change the access control allowed to any users without prior notice to the end user</p>
  </div> -->
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous">
</script>
<script src='public\javascripts\SBU_IOT_1.js'>
</script>
  </body>
</html>